.main-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.grid-container {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}
.grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
