* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 20px;
}

header {
  background-color: #8db7fa;
  padding: 20px;
  text-align: center;
  color: #f9d109;
}

.clearfix {
  position: relative;
  width: 100px;
  background-color: #f17b05;
}

.positionbox {
  position: absolute;
  top: 20px;
  left: 400px;
  width: 100px;
  height: auto;
  background-color: #a8cce1;
  border: 1px solid #ccc;
  padding: 10px;
}

.flexbox {
  display: flex;
  padding: 10px;
  background-color: #a19cde;
  border: 1px solid #ccc;
  margin: 10px;
}

.gridbox {
  text-align: center;
  padding: 10px;
  background-color: #f2a6b3;
  border: 1px solid #ccc;
}

.flexboxcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridboxcontainer {
  background-color: #8db7fa;
  width: 500px;
  height: 60vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  row-gap: 10px;
  column-gap: 5px;

  justify-items: left;
  align-items: center;
}

body {
  background-color: #f1dbe9;
}
